<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cainiaowu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.cainiaowu.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.cainiaowu.LoginActivity.LoginPage"></activity>
        <activity android:name="com.example.cainiaowu.LoginActivity.ForgotPassword" />
        <activity android:name="com.example.cainiaowu.ParcelList.ScanErrorShelf" />
        <activity android:name="com.example.cainiaowu.ParcelList.ScanErrorParcel" />
        <activity android:name="com.example.cainiaowu.ParcelList.ParcelListPage" />
        <activity android:name="com.example.cainiaowu.ScanParcel.ScanShelf" />
        <activity android:name="com.example.cainiaowu.LoginActivity.RegistrationPage" />
        <activity android:name="com.example.cainiaowu.ScanParcel.MainActivity" />
        <activity android:name="com.example.cainiaowu.ScanParcel.ScanParcel" />
    </application>

</manifest>